:root {
  --background: rgb(223, 243, 249);
  --font-family: "RocknRoll One", sans-serif;
}

body {
  background-color: lightgray;
  font: var(--font-family);
  color: rgb(49, 163, 198);
}

.container-fluid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 40px 200px 40px;
  background: var(--background);
}

div.row {
  max-width: 100em;
  max-height: 100em;
  margin: auto;
  padding: 2em;
}

h1 {
  display: flex;
  justify-content: center;
  font-weight: bolder;
  font-size: 75px;
  font-family: var(--font-family);
}

p {
  display: flex;
  justify-content: center;
  font-family: var(--font-family);
}

form.search {
  display: flex;
  justify-content: center;
}

input.form-control {
  display: inline;
  max-width: 250px;
  padding: auto;
  border-color: white;
  border-radius: 2em;
}

#button-addon2 {
  background-color: white;
  border-radius: 65%;
  border-color: white;
  font-family: var(--font-family);
}

p#cocktail {
  display: flex;
  justify-content: center;
  font-weight: bolder;
  font-size: 55px;
}

p#thumbnail.img {
  display: flex;
  justify-content: center;
  font-size: 0pt;
}

img {
  max-width: 150px;
  max-height: 450px;
  border-radius: 20%;
}

p#instructions {
  font-weight: bolder;
  box-shadow: rgb(23, 23, 23);
}
